!!

position: absolute;
width: 571px;
height: 156px;
left: 128px;
top: 272px;

font-family: Karla;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 130%;
/* or 39px */


/* Azulado-Gris/Grey 1 */
color: #344058;