### Linux ###
*~

.idea

node_modules/

.npm

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# logs
*.log

source/**/~*

data/persons.json
data/persons.*.json
src/persons.ts
src/persons.model.ts

src/**/*.js
src/**/*.js.map
